@font-face {
    font-family: 'CircularStdLight';
    src: url('fonts/CircularStd-Light.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdMedium';
    src: url('fonts/CircularStd-Medium.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdBook';
    src: url('fonts/CircularStd-Book.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdBlack';
    src: url('fonts/CircularStd-Black.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdBold';
    src: url('fonts/CircularStd-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdLight';
    src: url('fonts/CircularStd-Light\ Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdMedium';
    src: url('fonts/CircularStd-MediumItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdBook';
    src: url('fonts/CircularStd-BookItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdBlack';
    src: url('fonts/CircularStd-BlackItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdBold';
    src: url('fonts/CircularStd-BoldItalic.otf') format('opentype');
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Page and Header and Navbar - Philip */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainpage-img {
    max-width: 100%;
    height: auto;
}

.oui-logo {
    position: absolute;
    top: 0;
    left: 0;
    color: #95261F;
    font-size: 4rem;
    padding: 0.6rem;
    z-index: 2;     /* z-index is used to make sure that the logo is on top of the image */
    text-decoration: none;
    cursor: default; /*makes the cursor not change when hovering over the logo */

}

.mainpage-eyecatcher {
    position: absolute;
    font-family:Caveat, serif;
    top: 65%;
    left: 3%;
    transform: translateY(-50%);
    color: #EDE5BB;
    font-size: 6rem;
    padding: 0.6rem;
    cursor: default;
}

.mainpage-subtext {
    position: absolute;
    font-family: CircularStd, serif;
    top: 75%;
    left: 4%;
    color: white;
    font-size: 1.5rem;
    padding: 0.6rem;
    cursor: default;
}

.mainpage-button{
    position: absolute;
    top: 90%;
    left: 5%;
    color: #00657C;
    background-color: #EDE5BB;
    font-size: 1rem;
    font-family: "Circular Std Book", serif;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5rem;
}


.mainpage-img-container {  /*makes the image appear as a background image */
    background-image: url('img/mainpage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}


.header {
    position: fixed; /* Fixed makes header permanently attached to the top of the page */
    top: 0;
    right: 0;
    background-color: #EDE5BB;
    color: #333;
    padding: 0.625rem;
    display: inline-block;
    border-radius: 0 0 0 0.625rem;
    z-index: 1;
}

.navbar {
    display: inline-block;  /* makes navbar list items appear from left to right */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar li {
    display: inline-block;
    margin-right: 1.25rem;
}

.navbar li:last-child {  /* removes the margin-right from the last list item */
    margin-right: 0;
}

.navbar a {    /* makes the navbar links clickable */
    color: #00657C;
    text-decoration: none;
    font-size: 18px;
}

/* End of Main Page and Header and Navbar - Philip */

/* Bonjour page - Sebastian */

.bonjour-page{
    display: grid;
    width: 100vw;
    height: 98vh;
    grid-template-columns: repeat(2, 1fr);
    background-color: #95261F;
    color: #EDE5BB;
    gap: 1vw;
    /* margin-left: 1%;
    margin-right: 1%; */
}

.bonjour-page-item{
    padding-left: 3vw;
    padding-right: 3vw;
}

.bonjour-page-illustrations-container{
    display: grid;
    height: 98vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.illust1-align{
    display: flex;
    justify-content: center;
    align-self: center;
}

.illust2-align{
    display: flex;
    justify-content: end;
    align-self: end;
    transform: rotate(-14deg);
}

.illust3-align{
    display: flex;
    justify-content: start;
    align-self: end;
    transform: rotate(11deg);
}

.illust4-align{
    display: flex;
    justify-content: center;
    align-self: end;
}

.illustration-resize{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

.illustration-resize2{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
}

.bonjour-page-flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bonjour-page-header2{
    font-family: CircularStdBlack;
    font-size: 4.8vw;
    flex-grow: 0.5;
    padding-top: 4vw;
}

.bonjour-page-text{
    font-family: CircularStdBook;
    font-size: 2vw;
}

/* End of Bonjour page */

/* Start of tryout page - Sebastian */

.tryout-page{
    display: grid;
    width: 100vw;
    height: 84vh;
    background-color: #00657C;
    color: #EDE5BB;
    grid-template-columns: 27% 46% 27%;
}

.tryout-page-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 1vw;
}

.tryout-image-fit{
    object-fit: cover;
    max-width: 27vw;
    max-height: 90vh;
}

.tryout-page-header{
    padding-top: 10vw;
    font-family: CircularStdBlack;
    font-size: 3vw;
    flex-grow: 0.2;
}

.tryout-page-text{
    font-family: CircularStdBook;
    font-size: 1.3vw;
}

/* End of tryout page - Sebastian */