@font-face {
    font-family: Caveat;
    src: url('fonts/Caveat-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdLight';
    src: url('fonts/CircularStd-Light.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdMedium';
    src: url('fonts/CircularStd-Medium.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdBook';
    src: url('fonts/CircularStd-Book.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdBlack';
    src: url('fonts/CircularStd-Black.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdBold';
    src: url('fonts/CircularStd-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'CircularStdLight';
    src: url('fonts/CircularStd-Light Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdMedium';
    src: url('fonts/CircularStd-MediumItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdBook';
    src: url('fonts/CircularStd-BookItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdBlack';
    src: url('fonts/CircularStd-BlackItalic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'CircularStdBold';
    src: url('fonts/CircularStd-BoldItalic.otf') format('opentype');
    font-style: italic;
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Page and Header and Navbar - Philip */

.mainpage-img {
    max-width: 100%;
    height: auto;
}

.oui-logo {
    position: absolute;
    transform: scale(0.5); /* makes the logo smaller */
    top:  -7.5vw;
    left: -13vw;
    color: #95261F;
    font-size: 5vw;
    padding: 0;
    z-index: 2;     /* z-index is used to make sure that the logo is on top of the image */
    text-decoration: none;

}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 3%; /* Adjust as needed */
    transform: translateY(-50%);
    color: #EDE5BB;
}

.mainpage-eyecatcher {
    font-family: Caveat;
    top: 50%;
    left: 3%;
    transform: translateY(-45%);
    color: #EDE5BB;
    font-size: 10vw;


}

.mainpage-subtext {
    font-family: CircularStdBook;
    top: 70%;
    left: 4%;
    color: white;
    font-size: 1.875vw;
    padding:  0.78vw;

}

.mainpage-button {
    color: #00657C;
    background-color: #EDE5BB;
    font-size: 1.25vw;
    font-family: CircularStdBook;
    border: none;
    padding: 1.25vw 2.5vw 1.25vw 2.5vw;
    border-radius: 6.25vw;
    cursor: pointer;
}



.mainpage-img-container {  /*makes the image appear as a background image */
    background-image: url('img/mainpage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}


.header {
    position: fixed; /* Fixed makes header permanently attached to the top of the page */
    top: 0;
    right: 0;
    background-color: #EDE5BB;
    color: #333;
    padding: 0.78125vw;
    display: inline-block;
    border-radius: 0 0 0 0.78125vw;
    z-index: 1;
}

.navbar {
    display: inline-block;  /* makes navbar list items appear from left to right */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar li {
    display: inline-block;
    margin-right: 1.5625vw;
}

.navbar li:last-child {  /* removes the margin-right from the last list item */
    margin-right: 0;
}

.navbar a {    /* makes the navbar links clickable */
    color: #00657C;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: CircularStdBook;
}

/* End of Main Page and Header and Navbar - Philip */

/* Bonjour page - Sebastian */

.bonjour-page{
    display: grid;
    width: 100%;
    height: 98vh;
    grid-template-columns: repeat(2, 1fr);
    background-color: #95261F;
    color: #EDE5BB;
    gap: 1vw;
}

.bonjour-page-item{
    padding-left: 3vw;
    padding-right: 3vw;
}

.bonjour-page-illustrations-container{
    display: grid;
    height: 98vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.illust1-align{
    display: flex;
    justify-content: center;
    align-self: center;
}

.illust2-align{
    display: flex;
    justify-content: end;
    align-self: end;
    transform: rotate(-14deg);
}

.illust3-align{
    display: flex;
    justify-content: start;
    align-self: end;
    transform: rotate(11deg);
}

.illust4-align{
    display: flex;
    justify-content: center;
    align-self: end;
}

.illustration-resize{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

.illustration-resize2{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
}

.bonjour-page-flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bonjour-page-header2{
    font-family: CircularStdBlack;
    font-size: 4.8vw;
    flex-grow: 0.5;
    padding-top: 4vw;
}

.bonjour-page-text{
    font-family: CircularStdBook;
    font-size: 2vw;
}

/* End of Bonjour page */

/* Start of tryout page - Sebastian */

.tryout-page{
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 83.5vh;
    background-color: #00657C;
    color: #EDE5BB;
    grid-template-columns: 27% 46% 27%;
}

.tryout-page-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 1vw;
}

.tryout-image-fit{
    object-fit: cover;
    max-width: 26.65vw;
    height: 83.5vh;
    max-height: 84vh;
}

.tryout-page-header{
    padding-top: 10vw;
    font-family: CircularStdBlack;
    font-size: 2.8vw;
    flex-grow: 0.2;
}

.tryout-page-text{
    font-family: CircularStdBook;
    font-size: 1.3vw;
}
/* End of tryout page - Sebastian */

body{
    background-color: #EDE5BB;
}

#section4{
    font-family: CircularStdBook;
    color: #95261F;
}

.menu{
    display: flex;
    justify-content: center;
    font-size: 4vw;
    margin-top: 5vh;
}

.drink{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 5vw;
}

.grid-container-1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.coffee-tea{
    display: flex;
    grid-column: 2/3;
    font-size: 1.8vw;
    margin-bottom: 1vw;
}

.products{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    font-size: 1.3vw;
    grid-column: 2/3;
    gap:2vh;
}

.tea{
    font-size: 90%;
}

.money{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    gap:2vh;
}

.money-2{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    gap:2vh;
}

.cool-drink{
    display: flex;
    grid-column: 2/3;
    font-size: 1.8vw;
    margin-bottom: 1vw;
}

.grid-container-2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.products-2{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    grid-column: 2/3;
    gap:2vh;
}

.food{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 5vw;
}

.grid-container-3{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.pain{
    display: flex;
    font-size: 1.8vw;
    grid-column: 2/3;
    margin-bottom: 1vw;
}

.products-3{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    font-size: 1.3vw;
    gap:2vh;
    margin-bottom: 2vw;
}

.money-3{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    gap:2vh;
}

.grid-container-4{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sweet{
    display: flex;
    grid-column: 2/3;
    font-size: 1.8vw;
    margin-bottom: 1vw;
}

.products-4{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    font-size: 1.3vw;
    gap:2vh;
    margin-bottom: 3vw;
}

.money-4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.3vw;
    margin-bottom: 3vw;
}

.macaron-price{
    flex-grow: 1;
}

.other-prices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2vh;
}

.maca{
    font-size: 90%;
}

/* Start of coffee page - Yaroslav */
.coffee-page{
    display: grid;
    width: 100%;
    height: auto;
    max-height: 83.5vh;
    grid-template-columns: 35% 30% 35%;
    background-color: #95261F;
    color: #EDE5BB;
}
.coffee-page-img{
    display: flex;
    object-fit: cover;
    max-width: 30vw;
    max-height: 83.5vh;
    height: 100%;
}
.coffee-page-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: CircularStdBook;
    font-size: 1.2vw;
    line-height: 2em;
}
.header-for-coffee-page{
    display: flex;
    padding: 5vh;
    font-family: CircularStdBlack;
    font-size: 2.5vw;
    flex-grow: 0.2;
}
.coffee-page-text > p{
    padding: 5vh;
    flex-grow: 0.5;
}
.coffee-page a{
    color: #EDE5BB;
    font-size: 1.8vw;
}
/* End of coffee page - Yarosalv */

/* Start of location page - Yaroslav */
.location-page{
    background-color: #00657C;
    color: #EDE5BB;
    font-family: CircularStdBook;
    font-size: 2vw;
    line-height: 3em;
    height: auto;
}

.location-grid{
    display: grid;
    width: 100%;
    height: auto;
    max-height: 83.5vh;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5vh;
}
.location-page > h1{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 4vh;
    font-family: CircularStdBlack;
    font-size: 4vw;
}
.part-of-location-page-grid{
    display: flex;
}
iframe{
    width: 80%;
    height: 80%;
}
/* End of location page - Yaroslav */